.header {
  height: 56px;

  display: flex;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: white;
  z-index: 100;
}

.left-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 64px;
}

.hamburger-menu {
  height: 24px;
  margin: 0 14px;
  padding: 10px;
}

.youtube-logo {
  height: 20px;
}

.middle-section {
  flex: 1;
  margin-left: 32px;
  max-width: 650px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 16px;
  font-size: 16px;
  border-radius: 20px 0 0 20px;
  border: 1px solid rgb(192, 192, 192);
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}

.search-bar::placeholder {
  font-size: 16px;
}

.search-bar:focus {
  outline-style: solid;
  outline-offset: -2px;
  outline-width: 2px;
  outline-color: rgba(0, 57, 180, 0.4);
}

.search-button {
  height: 40px;
  width: 66px;
  background-color: rgb(248, 248, 248);

  border-radius: 0 20px 20px 0;
  border: 1px solid rgb(202, 202, 202);
  margin-left: -1px;
  margin-right: 16px;
}

.search-icon {
  height: 24px;
}

.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container,
.search-icon-container,
.voice-search-icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip {
  position: absolute;
  background-color: rgb(100, 100, 100);
  color: white;
  padding: 8px;
  border-radius: 4px;
  font-size: 12px;
  bottom: -50px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip,
.search-icon-container:hover .tooltip,
.voice-search-icon-container:hover .tooltip {
  opacity: 0.9;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(245, 245, 245);
}

.voice-search-icon {
  height: 24px;
}

.right-section,
.right-section-zoomed-in,
.right-section-zoom-x {
  margin-left: 60px;
  width: 160px;
  margin-right: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
}

.upload-icon {
  padding: 10px;
  height: 24px;
}
.upload-icon-container {
  margin-right: 4px;
}

.notifications-icon {
  padding: 10px;
  height: 24px;
}
.notifications-icon-container {
  margin-right: 10px;
}

.notifications-count {
  position: absolute;
  top: 4px;
  right: 5px;
  background-color: rgb(200, 0, 0);
  color: white;
  font-size: 11px;
  padding: 2px 5px;
  border-radius: 12px;
}

.search-button:hover {
  background-color: rgb(235, 235, 235);
}
.voice-search-button:hover,
.upload-icon-container:hover,
.notifications-icon-container:hover,
.hamburger-menu:hover,
.search-icon-container:hover,
.voice-search-icon-container:hover {
  border-radius: 24px;
  background-color: rgb(235, 235, 235);
}
.search-button:active,
.voice-search-button:active,
.upload-icon-container:active,
.notifications-icon-container:active,
.hamburger-menu:active,
.search-icon-container:active,
.voice-search-icon-container:active {
  background-color: rgb(220, 220, 220);
  /* Add border radiating outwards 1px after active state
  box-shadow: inset 0px 0px 0px 1px rgba(155, 155, 155, 0);
  transition: box-shadow 0.15s; */
}

.my-channel-icon {
  height: 32px;
  margin: 0 10px;
  border-radius: 16px;
}

.right-section-zoomed-in,
.right-section-zoom-x {
  display: none;
}

@media (max-width: 720px) {
  .header {
    margin-left: 0;
  }
  .left-section,
  .right-section {
    margin: 0;
  }
  .hamburger-menu {
    height: 24px;
    margin: 0 6px;
  }
  .youtube-logo {
    margin: 0 10px;
  }
  .middle-section,
  .right-section {
    display: none;
  }
  .right-section-zoomed-in {
    display: flex;
    width: 200px;
  }
  .search-icon,
  .voice-search-icon {
    padding: 10px;
    height: 24px;
  }
  .upload-icon-container,
  .notifications-icon-container,
  .my-channel-icon {
    margin-right: 0;
  }
}

@media (max-width: 460px) {
  .right-section-zoomed-in {
    display: none;
  }
  .right-section-zoom-x {
    display: flex;
    margin-left: 0;
    width: 100px;
  }
  .left-section {
    margin-right: 0;
  }
  .search-icon-container,
  .voice-search-icon-container {
    margin: 0;
  }
}
